@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    padding: 2rem 0;
    background-color: #1abc9c;
    color: #fff;
    font-style: oblique;
}

.header h4 {
    font-size: calc(1.275rem + .3vw)
}

.add-video {
    width: 30%;
    margin: 1rem;
}

.add-video {
    font-style: normal;
    text-decoration: none;
    font-size: 1.2rem;
}

.add-btn {
    color: blue;
    font-size: 1.3rem;
}

.search-video {
    width: 40%;
    margin: 2rem;
}

.allVideos-container {
    margin-top: 6rem;
    background-color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-container {
    text-align: center;
    width: 22rem;
    height: auto;
    margin: 2rem;
    border-radius: 1rem;
}

.votes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.fa-thumbs-up, .fa-thumbs-down {
    font-size: 2rem;
    color: rgb(0, 89, 255);
    cursor: pointer;
}

.fa-thumbs-up:hover, .fa-thumbs-down:hover {
    opacity: 0.8;
}

.search {
    margin-left: 1rem;
    padding-left: 15px;
}

.input {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

form {
    margin-top: 2rem;
}